.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 17px 30px;
    border-bottom: 1px solid #ffffff55;
}

.nav div {
    cursor: pointer;
}

.nav img {
    margin-left: auto;
}
