
.main {
    padding: 10px 30px 30px 30px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.checkbox {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid white;
}

.footer {
    margin-top: auto;
}

.input {
    width: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #242A32;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

